body {
  font-family: 'Noto Sans JP', 'M PLUS 1p', sans-serif !important;
}

p, li {
  word-break: normal;
  line-break: strict;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: justify;
}

.md-typeset h1 {
  /*font-size: 24pt;*/
  font-weight: bold;

  border-bottom: solid 2px #616974;
  padding-bottom: 5px;
}
.md-typeset h2 {
  border-bottom: 1px dotted #888;
}

@media print {
    .md-sidebar--primary, .md-sidebar--secondary {
        display: none;
    }
    .md-content {
      margin-left: 0;
    }
}

