body {
    font-family: "Noto Sans JP", "Meiryo";
}

.md-typeset h1 {
  /*font-size: 24pt;*/
  font-weight: bold;
  color: #000;
  border-bottom: solid 2px #f18b21;
  padding-bottom: 5px;
}
.md-typeset h2 {
  border-bottom: 1px dotted #888;
}

@media print {
    .md-sidebar--primary, .md-sidebar--secondary {
        display: none;
    }
    .md-content {
      margin-left: 0;
    }
}
